@area('main', function() {
  <div class="row">
    <div class="well">
      <form class="form-inline" style="margin:0;" method="post" action="">
        <input type="text" placeholder="Leistung" name="power" />&nbsp;
        <button type="submit" class="btn">Erstellen</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Leistung</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @collection(engines, function(engine) {
            <tr>
              <td>@engine.id</td>
              <td>@engine.power</td>
              <td>
                <form action="/engines/@engine.id" method="post">
                  <input type="hidden" name="_method" value="delete" />
                  <button type="submit" class="close">&times;</button>
                </form>
              </td>
            </tr>
          })
        </tbody>
      </table>
    </div>
  </div>
})